.container {
  composes: container from '../../index.css';
}

.title {
  color: #ffffff;
  font-family: "Proxima Nova";
  font-size: 43px;
  font-weight: 300;

}

.border {
  width: 119px;
  height: 4px;
  background-color: #df358d;
}

.logo {
  margin-top: 120px;
}

.subtitle {
  color: #ff68b6;
  font-family: "Proxima Nova";
  font-size: 43px;
  font-weight: 400;
  margin-bottom: 60px;
}

.text {
  max-width: 750px;
  opacity: 0.58;
  color: #ffffff;
  font-family: "Proxima Nova";
  font-size: 36px;
  font-weight: 300;
  line-height: 57.6px;
  margin-bottom: 140px;
}

.text span {
  color: #5d96ff;
  font-family: "Proxima Nova";
  font-weight: 400;
}

.button {
  width: 208px;
  height: 71px;
  background-color: #272037;
  color: #ffffff;
  font-family: "Proxima Nova";
  font-size: 29px;
  font-weight: 300;
  border: none;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.button:first-child {
  margin-right: 44px;
}

.button:hover {
  background-color: #ff4ba8;
}

@media screen and (max-width: 540px) {
  .buttonsWrapper {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }

  .button {
    margin: 0 !important;
  }
}

@media screen and (max-width: 460px) {
  .subtitle {
    font-size: 32px;
  }

  .text {
    font-size: 26px;
    line-height: 42px;
  }

  .button {
    width: 45%;
  }
}

@media screen and (max-width: 400px) {
  .button {
    width: 100%;
  }

  .buttonsWrapper {
    flex-wrap: wrap;
  }

  .button:first-child {
    margin-bottom: 15px !important;
  }
}