@font-face {
  font-family: 'Proxima Nova';
  src: url('./fonts/ProximaNova-Regular.woff2') format('woff2'),
  url('./fonts/ProximaNova-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Proxima Nova Cond';
  src: url('./fonts/ProximaNovaCond-Light.woff2') format('woff2'),
  url('./fonts/ProximaNovaCond-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Proxima Nova';
  src: url('./fonts/ProximaNova-Light.woff2') format('woff2'),
  url('./fonts/ProximaNova-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}

