/*Reset style*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1 !important;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* ================================================ */
@import './fonts.css';

body {
  width: 100%;
  height: 100%;
  color: #000;
  font: 400 14px "Proxima Nova", Arial, sans-serif;
  background-color: #0b1124;
}

/* MAIN STYLES */
/* ================================================ */
img {
  display: block;
  max-width: 100%;
}

span {
  display: inline-block;
}

button {
  cursor: pointer;
}

button:focus {
  outline: none;
}

button:active {
  outline: none;
}

input:focus, textarea:focus {
  outline: none;
}

input:active, textarea:active {
  outline: none;
}

.allcontent {
  width: 100vw;
  height: 100vh;
  background: url('./images/bg.png') center center no-repeat;
  -webkit-background-size: cover;
  background-size: cover;
}

.outerContainer {
  width: 100%;
  height: 100%;
  display: flex;
}

.container {
  width: calc(100% + 25px);
  height: 100%;
  padding: 123px 80px 20px 80px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  overflow-y: scroll;
}

.main {
  width: calc(100% - 326px);
  height: 100%;
  background-color: rgba(4%, 7%, 14%, 0.7);
  overflow: hidden;
}

:global(.bm-burger-button) {
  position: fixed;
  width: 36px;
  height: 30px;
  left: 36px;
  top: 36px;
}

:global(.bm-cross-button) {
  height: 18px !important;
  width: 18px !important;
  right: 10px !important;
  top: 16px !important;
}

@media screen and (max-width: 1150px) {
  .main {
    width: 100%;
  }

  .container {
    padding: 123px 36px 20px 36px;
    overflow: auto;
  }
}


@media screen and (max-width: 700px) {
  .main {
    width: 100%;
  }

  .container {
    padding: 123px 36px 20px 36px;
    width: 100%;
    overflow: auto;
  }
}

@media screen and (max-width: 500px) {
  .container {
    padding: 123px 15px 20px 15px;
  }

  :global(.bm-burger-button) {
    left: 15px;
    top: 15px;
  }

  :global(.bm-burger-button:before) {
    content: '';
    display: block;
    width: 100%;
    height: 60px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
    background-color: rgba(4%, 7%, 14%, 0.9);
  }
}