.container {
  composes: container from '../About/style.css';
  width: calc(100% + 25px);
  overflow-y: scroll;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.title {
  composes: title from '../About/style.css';
}

.border {
  width: 100px;
  height: 4px;
  background-color: #df358d;
}

.share {
  width: 37px;
  height: 37px;
  background: url("../../images/share-vector.png") center center no-repeat;
  margin-right: 55px;
  border: none;
}

.search {
  width: 40px;
  height: 40px;
  background: url("../../images/search-vector.png") center center no-repeat;
  border: none;
}

.input {
  width: 250px;
  height: 40px;
  margin-left: 55px;
  padding: 20px;
  border: 2px solid #bbb8be;
  border-radius: 25px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  color: #bbb8be;
  font-family: "Proxima Nova";
  font-size: 26px;
  font-weight: 400;
  background-color: transparent;
}

.alignCenter {
  display: flex;
  align-items: center;
}

.works {
  width: 100%;
  margin-top: 50px;
  display: grid;
  grid-template-columns: repeat(auto-fill, 312px);
  grid-gap: 44px;
}

.oneWork {
  margin-bottom: 20px;
}

.work {
  width: 312px;
  height: 234px;
  cursor: pointer;
  overflow: hidden;
}

.work:hover img {
  transform: scale(1.2);
}

.work img {
  width: 100%;
  height: 100%;
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s linear;
  -ms-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

.workName {
  color: #ffffff;
  font-family: "Proxima Nova";
  font-size: 26px;
  font-weight: 300;
  margin-top: 25px;
}

.notFounded {
  color: #ffffff;
  font-family: "Proxima Nova";
  font-size: 20px;
  font-weight: 300;
}